footer {
  background-color: $dark;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint-up(medium) {
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 40px;
    }

    .block {
      width: 101px;
      height: 4px;
      background-color: $brown;
    }

    @include breakpoint-up(large) {
      width: 100%;
      max-width: 1220px;
      margin: 0 165px;
      .flex-xlarge-desktop {
        display: flex;
        margin: 2rem 0;
      }
    }

    .contents {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include breakpoint-up(medium) {
        justify-content: flex-start;
        align-items: flex-start;
      }

      p {
        font-weight: 800;
        margin: 3rem 0;
        text-align: center;

        @include breakpoint-up(medium) {
          margin: 1rem 0;
          text-align: start;
          margin-top: 3.5rem;
        }
        @include breakpoint-up(large) {
          margin: 1rem 0;
          text-align: start;
          margin-top: 3.5rem;
        }
        @include breakpoint-up(xlarge) {
          //   margin: 0;
        }
      }

      ul {
        @include breakpoint-up(medium) {
          display: flex;
        }
        @include breakpoint-up(large) {
          margin: 0;
        }
        list-style: none;
        text-align: center;

        li {
          margin: 1.875rem 0;
          h3 {
            cursor: pointer;
            color: white;
            font-weight: 500;
            transition: all 200ms ease-in-out;
            &:hover {
              color: $brown;
            }
            &:active {
              opacity: 0.08;
            }
          }
          &:not(:last-child) {
            @include breakpoint-up(medium) {
              margin-right: 1.875rem;
            }
          }
        }
      }

      .paragraph,
      .same {
        opacity: 0.5;
        font-weight: unset;
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
        max-width: 695px;
        margin: 1rem;
        @include breakpoint-up(medium) {
          text-align: start;
          margin: 1rem 0;
        }
      }

      .flex-tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint-up(medium) {
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          margin: 1rem 0;
        }
      }

      .flex-desktop {
        @include breakpoint-up(large) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 1rem 0;
          width: 100%;

          p {
            margin: 0;
          }
        }
        @include breakpoint-up(xlarge) {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .icons {
        margin: 1rem;

        .icon:not(:last-child) {
          margin-right: 10px;
        }
        .icon {
          cursor: pointer;
          transition: all 200ms ease-in-out;
          &:hover {
            color: $brown;
          }
          &:active {
            opacity: 0.8;
          }
        }
      }
    }

    .xlarge {
      width: 100%;
      display: grid;
      grid-template: 95px 66px 54px / 1fr 1fr;

      ul {
        list-style: none;
        grid-area: 1/2 / span 1 / span 1;
        align-self: start;
        display: flex;
        justify-self: end;
        margin: 20px 0;

        li {
          margin-right: 2rem;

          h3 {
            cursor: pointer;
            color: white;
            font-weight: 500;
            transition: all 200ms ease-in-out;
            &:hover {
              color: $brown;
            }
            &:active {
              opacity: 0.8;
            }
          }
        }
      }
      .icons {
        grid-area: 3 / 2 / span 1 / span 1;
        justify-self: end;

        .icon {
          margin-right: 2rem;

          cursor: pointer;
          transition: all 200ms ease-in-out;

          &:hover {
            color: $brown !important;
          }
        }
      }
    }
  }
}
